---
title: Portfolio
description: A list of shows and other things I've been involved in.
---

<h1>Portfolio</h1>

Hey! I'm Apollo!
<br>
I'm an audio engineer based out of Indianapolis, and I love tech!
<br>
I do a bunch of things, and I've listed a few of them below!
<br>
Oh and if anything here interests you, feel free to contact me at apollo [at]
{this domain}. I'm always looking for another project, and also if you wanna
just yap, I do too!

<h2>Shows</h2>

<ul>
	{% for show in site.shows reversed %}
		<li>
			{% include show_preview.html show=show %}
		</li>
	{% endfor %}
</ul>
