$light-background: #eeeeee;
$light-text: #036;
$dark-background: #212121;
$dark-text: #d2e1dd;

@mixin theme-colors() {
	@media (prefers-color-scheme: dark) {
		background-color: $dark-background;
		color: $dark-text;
	}
	background-color: $light-background;
	color: $light-text;
}

body {
	@include theme-colors();
	font-family: 'Noto Serif', serif;
}

h1, h2, h3, h4, h5, .site-title {
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
}

.site-nav {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
}

.footer {
	font-family: 'Noto Sans Mono', monospace;
	font-size: 11px;
}
