$light-background: #eefffc;
$light-text: #00396b;
$light-highlight: #a01dff;
$dark-background: #00396b;
$dark-text: #d2fff6;
$dark-highlight: #1bff8a;

@mixin theme-colors() {
	& {
		background-color: $light-background;
		color: $light-text;
	}

	@media (prefers-color-scheme: dark) {
		background-color: $dark-background;
		color: $dark-text;
	}
}

@mixin highlight-color() {
	& {
		color: $light-highlight;
	}

	@media (prefers-color-scheme: dark) {
		color: $dark-highlight;
	}
}

@mixin link-color() {
	& {
		color: $light-highlight;
	}

	@media (prefers-color-scheme: dark) {
		color: $dark-highlight;
	}
}

body {
	font-family: 'Noto Serif', serif;
	@include theme-colors();
}

h1, h2, h3, h4, h5, .site-title {
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
}

a {
	@include link-color();
}

.site-nav {
	font-family: 'Inconsolata', monospace;
	font-weight: 400;
}

.site-nav-link-inactive {
	color: gray;
	font-weight: 100;
}

.site-nav-link-active {
	@include highlight-color();
	//font-weight: bold;
}

.footer {
	font-family: 'Noto Sans Mono', monospace;
	font-size: 11px;
}
